body {
  background-color: burlywood;
}

#header {
  text-align: left;
  color: seagreen;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
}

h3,
.recipes {
  text-align: left;
  color: firebrick;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
}

.italian-restaurant,
.chickpea,
.pastafrola,
.faina {
  height: auto;
  width: 500px;
}

article {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: peru;
  color: black;
}
section {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: forestgreen;
  color: black;
}
